.main {
  background-color: #121212;
  height: 100%;

  .row {
    height: 100%;
  }

  .left {
    height: 100%;
    padding: 0px;
  }

  .right {
    padding-top: 1em;
    border-left: solid 0.5em #24242b;
    color: white;
    text-align: left;
  }

  .result-table {
    border: solid 1px white;
    margin-bottom: 1.5em;

    td {
      padding: 0.5em;
      border: solid 1px white;
      color: white;
      text-align: left;
      font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    }
  }
}